{% extends "posts/base.html" %}

{% block content %}
    <div class="content-section">
        <h2>Create a New Post</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
            </div>
            <div class="upload-box" id="upload-box">
                <div id="preview" class="image-preview"></div>
                <label for="image-upload" class="upload-label">
                    <i class="fas fa-plus-circle"></i>
                    Drag and Drop or Click to Add Image
                </label>
                <input type="file" class="file-input" id="image-upload" accept="image/*" onchange="previewImage(event)">
            </div>
            <button type="submit" class="upload-button">Upload</button>
        </form>

        {% if post %}
            <h3>Succesfully uploaded!</h3>
            <img src="{{ post.media.url }}" alt="connect" style="max-height:300px">
        {% endif %}
    </div>
    <script>
        function previewImage(event) {
            let reader = new FileReader();
            reader.onload = function () {
                let box = document.getElementById('upload-box');
                let image = document.createElement('img');
                image.src = reader.result;
                let imageToRemove = box.children[3];
                if (box.contains(imageToRemove)) {
                    box.removeChild(imageToRemove);
                }
                box.appendChild(image);
            };
            reader.readAsDataURL(event.target.files[0]);
        }
    </script>
{% endblock content %}
