{% extends "posts/base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="post-container">
                    {% include "blocks/block-posts.html" with user_posts=page_obj %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    <span class="current-page">{{ page_obj.number }}</span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="mdl-post-details">
                <div class="mdl-post-image">
                    <img src="{{ post.media.url }}" alt="Post Image">
                </div>
                <div class="mdl-container-left d-none d-md-block">
                    <div class="mdl-post">
                        <div class="mdl-post-info">
                            <div class="mdl-poster-info">
                                <img class="mdl-profile-picture" src="{{ post.poster.profile_picture.url }}"
                                     alt="Profile Picture">
                                <h6>{{ post.poster.username }}</h6>
                            </div>
                            <div class="mdl-post-description">
                                <p class="mdl-post-description-text">{{ post.description }}</p>
                            </div>
                        </div>
                        <div class="comments-section">
                            {% for comment in comments %}
                                <div class="comment">
                                    <div class="commenter-info">
                                        <img class="profile-picture"
                                             src="{{ comment.commenter.profile_picture.url }}"
                                             alt="Profile Picture">
                                        <h6>{{ comment.commenter.username }}</h6>
                                    </div>
                                    <div class="comment-text">
                                        <p>{{ comment.text }}</p>
                                    </div>
                                    <div class="comment-likes">
                                        <i class="fas fa-heart like-button comment-like-button"
                                           data-id="{{ comment.id }}" data-post-id="{{ post.id }}"></i>
                                        <span class="likecounter">{{ comment.comment_likes.count }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-bottom">
                            <div class="actions">
                                <div class="mdl-like-comment">
                                    <div class="post-comment">
                                        <i class="fas fa-regular fa-comment comment-button"></i>
                                    </div>
                                    <div class="post-likes">
                                        {% if user.is_authenticated %}
                                            <i class="fas fa-heart post-like-button like-button {% if post in liked_posts %} liked{% endif %}"
                                               data-id="{{ post.id }}"></i>
                                        {% else %}
                                            <i class="fas fa-heart post-like-button like-button"
                                               onclick="showAlert()"></i>
                                        {% endif %}
                                        <span class="likecounter">{{ post.post_likes.count }}</span>
                                    </div>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="mdl-comment-bottom">
                                    <form id="comment-form" method="post" class="mdl-comments"
                                          action="">
                                        {% csrf_token %}
                                        {{ comment_form }}
                                        <button type="submit" class="comment-on-post">Post</button>
                                    </form>
                                </div>
                            {% else %}
                                <div class="mdl-comment-bottom">
                                    <input type="text" class="mdl-comment-input"
                                           placeholder="You must be logged in to add a comment...">
                                    <button type="submit" class="comment-on-post">Post</button>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // read CSRF-Token from Cookie
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    let cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            let csrftoken = getCookie('csrftoken');

            $(document).on('click', '.like-button', function () {
                let item_id = $(this).data('id');
                let url = '';

                if ($(this).hasClass('post-like-button')) {
                    url = '/posts/' + item_id + '/like/';
                } else if ($(this).hasClass('comment-like-button')) {
                    let post_id = $(this).data('post-id');
                    url = '/posts/' + post_id + '/comment/' + item_id + '/like/';
                }
                console.log(url)
                let $heart = $(this);
                if ($heart.hasClass('liked')) {
                    // delete Like
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: csrftoken
                        },
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (data) {
                            if (data.message === 'unliked.') {
                                $heart.removeClass('liked');
                                var currentLikes = parseInt($heart.siblings('.likecounter').text());
                                var newLikes = currentLikes - 1;
                                $heart.siblings('.likecounter').text(newLikes);

                            }
                        },
                        error: function (xhr, textStatus, error) {
                            console.log(xhr.responseText);
                        }
                    });
                } else {
                    // add Like
                    $.ajax({
                        url: url,
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            csrfmiddlewaretoken: csrftoken
                        },
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (data) {
                            if (data.message === 'liked.') {
                                $heart.addClass('liked');
                                var currentLikes = parseInt($heart.siblings('.likecounter').text());
                                var newLikes = currentLikes + 1;
                                $heart.siblings('.likecounter').text(newLikes);
                            }
                        },
                        error: function (xhr, textStatus, error) {
                            console.log(xhr.responseText);
                        }
                    });
                }
            });

            $('.comment-button').click(function () {
                let postId = $(this).data('post-id');
                let url = '/posts/' + postId + '/';

                // AJAX-Anfrage, um die Post-Daten und Kommentare abzurufen
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function (xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    },
                    success: function (data) {
                        // Post-Daten und Kommentar-Daten aus der AJAX-Antwort extrahieren
                        let post = data.post;
                        let comments = post.comments;

                        // Modal mit den abgerufenen Daten aktualisieren
                        let modalImage = $('.modal-content .mdl-post-image img');
                        let posterProfilePicture = $('.modal-content .mdl-poster-info .mdl-profile-picture');
                        let posterUsername = $('.modal-content .mdl-poster-info h6');
                        let commentsSection = $('.modal-content .comments-section');
                        let like_post_btn = $('.post-like-button');
                        let like_counter = $('.likecounter');
                        let postDescription = $('.mdl-post-description-text');

                        if (post.liked_posts) {
                            like_post_btn.addClass("liked");
                        }
                        like_post_btn.attr("data-id",post.post_id);
                        postDescription.text(post.post_description)
                        like_counter.text(post.post_likes);

                        modalImage.attr('src', post.media);
                        posterProfilePicture.attr('src', post.poster_profile_picture);
                        posterUsername.text(post.poster_username);

                        // Kommentare in das Modal einfügen
                        commentsSection.empty();
                        for (let i = 0; i < comments.length; i++) {
                            let comment = comments[i];
                            let commentHtml =
                                '<div class="comment">' +
                                '<div class="commenter-info">' +
                                '<img class="profile-picture" src="' + comment.commenter_profile_picture + '" alt="Profile Picture">' +
                                '<h6>' + comment.commenter_username + '</h6>' +
                                '</div>' +
                                '<div class="commenter-details">' +
                                '<div class="comment-text">' +
                                '<p>' + comment.text + '</p>' +
                                '</div>' +
                                '</div>' +
                                '<div class="comment-likes">';

                            if (comment.comment_liked) {
                                commentHtml += '<i class="fas fa-heart like-button comment-like-button liked" data-id="' + comment.comment_id + '" data-post-id="' + post.post_id + '"></i> ';
                            } else {
                                commentHtml += '<i class="fas fa-heart like-button comment-like-button" data-id="' + comment.comment_id + '" data-post-id="' + post.post_id + '"></i> ';
                            }

                            commentHtml += '<span class="likecounter">' + comment.comment_likes_count + '</span>' +
                                '</div>' +
                                '</div>';
                            commentsSection.append(commentHtml);
                        }

                        // Aktualisiere das data-post-id-Attribut im Formular-Button
                        $('#comment-form .comment-on-post').data('post-id', postId);

                        // Modal anzeigen
                        $('#myModal').modal('show');
                        let closeIcon = document.getElementsByClassName("close")[0];
                        closeIcon.onclick = function () {
                            $('#myModal').modal('hide');
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.responseText);
                    }
                });
            });

            $('#comment-form').submit(function (event) {
                event.preventDefault();
                let postId = $(this).find('.comment-on-post').data('post-id');
                let url = '/posts/' + postId + '/comment/';
                let commentForm = $(this);

                // AJAX-Anfrage, um den Kommentar zu erstellen
                $.ajax({
                    url: url,
                    type: 'POST',
                    dataType: 'json',
                    data: commentForm.serialize(),
                    success: function (data) {
                        if (data.success) {
                            // Neuen Kommentar zum Modal hinzufügen
                            let comment = data.comment;
                            let commentHtml = '<div class="comment">' +
                                '<div class="commenter-info">' +
                                '<img class="profile-picture" src="' + comment.commenter_profile_picture + '" alt="Profile Picture">' +
                                '<h6>' + comment.commenter_username + '</h6>' +
                                '</div>' +
                                '<div class="comment-text">' +
                                '<p>' + comment.text + '</p>' +
                                '</div>' +
                                '<div class="comment-likes">' +
                                '<i class="fas fa-heart"></i> ' + comment.comment_likes_count +
                                '</div>' +
                                '</div>';
                            $('.comments-section').append(commentHtml);

                            // Zurücksetzen des Kommentarformulars
                            commentForm[0].reset();
                        }
                    },
                    error: function (xhr, textStatus, error) {
                        console.log(xhr.responseText);
                    }
                });
            });
        });


    </script>
{% endblock %}
